altair
annotated-types
asttokens
attrs
beautifulsoup4
blinker
branca
cachetools
certifi
charset-normalizer
setuptools
click
colorama
comm
contourpy
cycler
debugpy
decorator
entrypoints
executing
Faker
favicon
flexpolyline
folium
fonttools
geographiclib
geopy
gitdb
GitPython
gurobipy
htbuilder
htmlmin
idna
ImageHash
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
kiwisolver
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
matplotlib-inline
mdurl
missingno
more-itertools
multimethod
nest-asyncio
networkx
numpy
packaging
pandas
pandas-profiling
parso
pillow
pip
platformdirs
ply
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydantic
pydantic-core
pydantic-settings
pydeck
Pygments
pymdown-extensions
Pyomo
pyparsing
python-dateutil
python-dotenv
pytz
PyWavelets
PyYAML
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
pyutilib
smmap
soupsieve
st-annotated-text
stack-data
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-folium
streamlit-image-coordinates
streamlit-keyup
streamlit-pandas-profiling
streamlit-toggle-switch
streamlit-vertical-slider
tangled-up-in-unicode
tenacity
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typing-extensions
tzdata
urllib3
visions
watchdog
wcwidth
xgboost
xyzservices